.ItemLink {
    text-decoration: none;
}

.ItemCard {
    margin: 1rem;
    padding: 1rem;
    background: linear-gradient(#182848 0%, #4b6cb7 100%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.ItemCard .carPicture {
    grid-area: carPicture;
    margin: 0.75rem;
    width: 22rem;
    border-radius: 1rem;
    background-color: #fff;
}

.ItemCard .carTitle, .carPrice {
    margin-bottom: 0.5rem;
    grid-area: carTitle;
    color: #fff;
    font-size: 1.5rem;
    text-align: start;
}

.ItemCard .cardButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.ItemCard .cardButtons button{
    margin: 0;
    grid-area: moreInfoButton;
    padding: 0.1rem 2rem;
    background-color: #182848;
    color: #fff;
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
    border-radius: 2rem;
    border: none;
}

.ItemCard .moreInfoButton {
    grid-area: moreInfoButton;
}

.ItemCard .bookingButton {
    grid-area: bookingButton;
}