.ItemLink {
	text-decoration: none;
}

.ItemCard {
	padding: 0.75rem;
	background-color: #182848;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-items: center;
}

.ItemCard:hover {
	background: linear-gradient(#182848 65%, #4b6cb7 100%);
	transform: scale(1.025);
	transition: 1s;
}

.ItemCard .cardPicture {
	padding: 0 1rem;
	margin-bottom: 0.5rem;
	grid-area: carPicture;
	width: 18rem;
	background-color: #fff;
}

.ItemCard .cardBottom {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.ItemCard .cardBottom .cardLogo {
	border-radius: 0.25rem;
}

.ItemCard .cardBottom .cardInfo {
	margin-left: 0.5rem;
	color: #fff;
	font-size: 1rem;
	text-align: start;
}

.cardInfo p {
    max-width: 195px;
    white-space: nowrap; 
    overflow: clip;
	margin-bottom: 0;
}

/* .ItemCard .cardBottom {
} */

.ItemCard .cardBottom .moreInfoButton {
	margin-left: auto;
	width: 2rem;
	height: 2rem;
	background-color: #4b6cb7;
	color: #fff;
	align-self: center;
	font-size: 1rem;
	border-radius: 2rem;
	border: none;
}

.ItemCard:hover .moreInfoButton {
	border: 0.2px white solid;
}
