nav {
    padding: 2rem 0;
    margin-bottom: 3rem;
    width: min(90%, 85rem);
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pageLogo a {
    color: #4b6cb7;
    text-decoration: none;
}

.NavBarMenu {
    position: relative;
    display: flex;
    flex-direction: row;
}

.NavBarMenu li a {
    padding: 1rem;
    text-decoration: none;
    color: #6a80b3;
}

.NavBarMenu li a:hover {
    font-weight: 400;
    color: #fff;
    backdrop-filter: blur(1);
}

.NavBarMenu li {
    list-style-type: none;
}

.NavBarMenu .NavBarSubMenu {
    position: absolute;
    display: none;
    align-items: center;
    padding: 0 1rem;
    flex-direction: column;
}

.NavBarMenu li:hover .NavBarSubMenu {
    display: flex;
    align-items: flex-start;
    background-color: #454545be;
}

.cartIcon {
    color: #fff;
}