nav {
    margin-bottom: 10rem;
    width: min(90%, 1320px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NavBarMenu {
    display: flex;
    flex-direction: row;
}

.NavBarMenu li a {
    padding: 1rem;
    text-decoration: none;
    color: #afafaf;
}
.NavBarMenu li a:hover {
    font-weight: 600;
    color: #afafaf;
}

.NavBarMenu li {
    list-style-type: none;
}