.ItemCard {
    margin: 1rem;
    padding: 1rem;
    background: linear-gradient(#182848 0%, #4b6cb7 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 7fr 1fr 1fr 1fr;
    grid-template-areas: 
        'carPicture carPicture'
        'carTitle carTitle'
        'carPrice carPrice'
        'bookingButton moreInfoButton';
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.ItemCard .carPicture {
    grid-area: carPicture;
    margin: 0.75rem;
    padding: 3rem 1rem ;
    width: 22rem;
    background-color: #fff;
}

.ItemCard .carTitle, .carPrice {
    margin: 0;
    grid-area: carTitle;
    color: #fff;
    font-size: 1.5rem;
    text-align: start;
}

.ItemCard .carTitle {
    grid-area: carTitle;
}

.ItemCard .carPrice {
    grid-area: carPrice;
}

.ItemCard .moreInfoButton, .bookingButton {
    grid-area: moreInfoButton;
    padding: 0.1rem 2rem;
    /* width: 14rem; */
    background-color: #182848;
    color: #fff;
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
    border-radius: 2rem;
    border: none;
}

.ItemCard .moreInfoButton {
    grid-area: moreInfoButton;
}

.ItemCard .bookingButton {
    grid-area: bookingButton;
}