.stage {
    display: flex;
    flex-direction: row;
}

.itemCartContainer {
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
}

table td {
    padding: 0 2rem;
    /* border: 1px solid black; */
}

table tfoot {
    margin: 1rem 0;
    background-color: #4b6cb7;
    color: #fff;
}