.itemCounter {
    display: flex;
    flex-direction: row;
}

.itemCounter .counterControl {
    padding: 0 1rem 0 1.25rem;
    /* margin: 0.5rem; */
    background-color: #fff;
    border-radius: 2rem 0 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itemCounter .counterControl button {
    background-color: #fff;
    line-height: 1.75rem;
    font-size: 1.25rem;
    border: none;    
    border-radius: 0.5rem;
}

.itemCounter .counterControl button:hover {
    background-color: #a7d8f8;
}

.itemCounter .counterControl .countingVariable {
    margin: 0;
    padding: 0 2rem;
    color: #000;
    font-size: 1.75rem;
}

.itemCounter .addButton {
    /* margin: 0 0.5rem 0.5rem 0.5rem; */
    padding: 0.25rem 1.25rem 0.25rem 1rem;
    border: none;
    background-color: #18a3ff;
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.25;
    border-radius: 0 2rem 2rem 0;
}

.itemCounter .addButton:hover {
    background-color: #90cff8;
}